*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    text-decoration: none;
}

.header a {
    text-decoration: none;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}

.header-nav{
    gap: 10px;
}