
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/bar.jpeg);
    background-size: cover;
    background-position: contain;
    background-attachment: scroll;
    filter: brightness(1.2) saturate(1.2) contrast(1.5);
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}

.header a {
    text-decoration: none;
    color: whitesmoke;
    
}
/*Unvisited links
.header a:link{
    color: rgb(231, 110, 10);
}
/*.header a:visited{
    color: rgb(224, 64, 64);
}*/
.header a:hover{
    color: #0066cc;
    font-weight: bold;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}

.header-nav{
    display: flex;
    gap: 15px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-right: 38rem;
    margin-top: 8rem;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 18px;
    margin-bottom: 20px;
}

.hero p span{
    display: block;
}

.hero-btns{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    color: whitesmoke;
    background-color: #0066cc;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.practical{
    background-color: none;
    border: none;
}