*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/bar.jpeg);
    background-size: cover;
    background-position: contain;
    background-attachment: scroll;
    filter: brightness(1.2) saturate(1.2) contrast(1.5);
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}

.header a {
    text-decoration: none;
    color: whitesmoke;
    gap: 10px;
}
.header a:link{}
.header a:visited{
    color: turquoise;
}
.header a:hover{
    color: blueblack;
    font-weight: bold;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}

.header-nav{
    gap: 15px;
}